{% extends 'base.html' %}

{% block content %}

                            <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>NO</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.content }}</td>
                <td>{{ todo.date }}
                <td>
                    <a href="{% url 'delete_data' todo.id %}" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a href="{% url 'update_data' todo.id %}" class="btn btn-danger">Update</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
